---
import Persona from "@/components/Persona.astro";
import RecommendedBooks from "@/components/RecommendedBooks.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const personalities = await getCollection("personalities");

  return personalities.map((persona) => ({
    params: { id: persona.id },
    props: { persona },
  }));
}

const { persona } = Astro.props;
const { data } = persona;
const { name, bio, photo, recommendedBooks } = data;
---

<Layout title="">
  <section class="persona-profile">
    <Persona name={name} bio={bio} photo={photo} />

    <h3 class="mt-12 text-2xl">Sus libros recomendados</h3>

    <RecommendedBooks {recommendedBooks} />
  </section>
</Layout>

<style is:global>
  .persona-profile .persona-item {
    display: flex;
    gap: 50px;

    h2 {
      font-size: 40px;
    }
  }
  .persona-profile .persona-item__image {
    max-width: 300px;
  }

  .book-item {
    display: flex;

    img {
      height: fit-content;
    }
  }
</style>
