---
import Hero from "@/components/Hero.astro";
import Personalities from "@/components/Personalities.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Motivational Books">
  <main class="container">
    <Hero />

    <h2>Personalidades que recomiendan libros</h2>
    <Personalities />
    
  </main>
</Layout>
