---
import { Image } from "astro:assets";
---

<footer class="border-t border-base-content/5 bg-base-300">
  <div class="container">
    <div class="flex py-24">
      <div
        class="mx-auto flex-shrink-0 text-center md:mx-0 md:w-96 md:pr-12 md:text-left"
      >
        <a
          aria-current="page"
          class="flex items-center justify-center gap-2 md:justify-start"
          href="/#"
          >

          <Image src="/images/logo.png" alt="Motivational Books" width={24} height={24} />
          
          <strong class="text-base font-extrabold tracking-tight md:text-lg"
            >Motivational Books</strong
          ></a
        >
        <p class="text-base-secondary mt-2 text-sm">
          Grow your startup with data, not guesses
        </p>
        <p class="text-base-secondary mt-2 text-sm">
          Copyright © 2024 - All rights reserved
        </p>
        <p class="text-base-secondary mt-2 text-sm">
          Made with 🧉 and 🚀 by Ariel
        </p>
      </div>
    </div>
  </div>
</footer>
