<header class="h-24 flex">
  <div class="container text-white flex items-center">
    <h2>Motivational Books</h2>
  </div>
</header>

<style>
  header {
    background-color: var(--background-color);
  }
</style>